:root {
    --header-height: 64px;
    --background-color: #374955;
    --accent-color: #86b1cc;
    --comment-column-width: 3px;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--background-color);
}

@media only screen and (min-width: 800px) {
    /* For bigger than phones */
    #block-container {
        max-width: 800px;
    }

    #loader {
        max-width: 800px;
    }
}


#block-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-inline: auto;
    width: 100%;
}

.block {
    background-color: white;
    width: calc(100% - 16px);
    margin: 8px;
    border-radius: var(--header-height);
    padding: calc(var(--header-height) / 2);
    transition: all 200ms ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.block:not(.write-post) {
    padding-bottom: var(--header-height);
}

.reply-button {
    display: inline-block;
    border-radius: calc(var(--header-height) / 2);
    margin-top: calc(var(--header-height) / 8);
    padding: calc(var(--header-height) / 8) calc(var(--header-height) / 4);
    background-color: var(--accent-color);
    color: var(--backround-color);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.reply-button:hover {
    background-color: var(--background-color);
    color: white;
}

.reply-button:active {
    background-color: white;
}

.post-header {
    position: relative;
}

.post-header .username {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: calc(var(--header-height) / 4);
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: left;
}

.write-post {
    cursor: pointer;
    color: var(--background-color);
}

.write-post:hover {
    background-color: var(--accent-color);
    color: white;
}

.write-post:active {
    background-color: var(---background-color);
}

.write-post h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--background-color);
}

.pfp {
    max-width: var(--header-height);
    max-height: var(--header-height);
    float: left;
    border-radius: 50%;
}

.post p {
    margin-bottom: 0;
}

.post:not(.block) {
    margin-top: calc(var(--header-height) / 4);
    border-left: var(--comment-column-width) solid var(--accent-color);
    padding-left: calc(var(--header-height) / 2 - var(--comment-column-width));
}

.post-actions {
    margin: 8px;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#loader {
    display: flex;
    justify-content: center;
    margin-inline: auto;
}

.skeleton-post {
    height: 55vh;
    position: relative;
}
